.container {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media (min-width: 900px) {
    .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.headerBox {
    text-align: center;
    margin-bottom: 32px;
}

.title {
    font-weight: 800 !important;
    margin-bottom: 8px !important;
    font-size: 2.5rem !important;
}

@media (min-width: 600px) {
    .title {
        font-size: 3.5rem !important;
    }
}

@media (min-width: 900px) {
    .title {
        font-size: 4rem !important;
    }
}

.brandSpan {
    color: #39ff14;
}

.subtitle {
    margin-bottom: 24px !important;
}

.buttonStack {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionBox {
    margin-top: 48px;
}

.marketHoursBox {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}