.footer {
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
    color: var(--mui-palette-text-secondary);
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

@media (min-width: 600px) {
    .footer {
        margin-top: 48px;
        padding-top: 24px;
    }
}

.footer {
    color: rgba(255, 255, 255, 0.7);
}